<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>s a n d b o x</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/pure/pure.css" />
    <!-- endbower -->

    <!-- App styles:start -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- App styles:end -->

    <!-- Livereload:start Livereload:end -->
    <script src="//localhost:35729/livereload.js"></script>


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view></div>

    <!-- bower:js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- Components:js -->
    <script src="components/common/rAF.js"></script>
    <!-- Components:end -->

    <!-- CDN scripts:start -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/CSSPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/easing/EasePack.min.js"></script>
    <!-- CDN scripts:end -->

    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/modules/particles-header/particles.js"></script>
  </body>
</html>